@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


 .button{
    border: 1px solid #fe6235;
    background-color: #1A1D26;
    color: #fe6235;
    padding: 4px 20px;
 
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    overflow: hidden;
 }
 .button::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background-color: #fe6235;
   transition: width 0.3s;
  z-index: -100;
 }
 .button:hover::before{
  width: 100%;

 }
 .button:hover{
   color: #fbfcfe;
   z-index: 100;
 }
svg{
   fill:
     #fbfcfe; 
   width: 10px;
   height: 10px;

  
}
.logo{
   text-shadow: 2px 2px 4px #6e6d72;
   /* background-clip: text;
   color: transparent;
   background-image: linear-gradient(to bottom, #fe6235, #fbfcfe ); */
}
.musicbtn{
   position: relative;
}
.musicbtn::before,
.musicbtn::after{
   content: "";
   position: absolute;
   inset: 0;
   box-shadow: 0 0 0 2px;
   border-radius: 100%;
 color: #fe6235;

}

.musicbtn::after{
   animation: ripple 1s infinite;
   transform: perspective(300px) translateZ(0px);
}
@keyframes ripple {
   to{
      transform: perspective(300px) translateZ(100px);opacity: 0;
   }
}
.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}